*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: lightblue;
}

header h1{ 
    font-size: 80px;
    font-family: 'Nerko One';
    color: white;
    text-align: center;
}

.container{
    margin: auto;
    width: 50%;
    height: 660px;
    position: relative;
}

.card{
    float: left;
    margin: 1%;
    background-color: white;
    border: 2px solid lightgray;
    width: calc(100% / 4 - 2%);
    height: 200px;
    border-radius: 15px;
    background-image: url(img/pattern.png);
    background-size: 100%;
    font-size: 0.1px;
}

#card-flip{
    float: left;
    margin: 1%;
    background-color: white;
    border: 2px solid lightgray;
    width: calc(100% / 4 - 2%);
    height: 200px;
    border-radius: 15px;
    background-image: url(img/noun_air_balloon_3134741.png);
    background-size: 100%;
    background-size: 90%;
    background-position: top;
    background-repeat: no-repeat;
}    

#card-flip h3{
    font-family: 'Nerko One';
    font-size: 25px;
    text-align:center;
    padding-top: 150px;
    background-size: 90%;
    background-position: top;
    background-repeat: no-repeat;
    color: palevioletred;
}    

.one:active,.six:active{
    font-family: 'Nerko One';
    font-size: 25px;
    text-align:center;
    padding-top: 150px;
    background-image: url(img/noun_Bicycle_3134821.png);
    background-size: 90%;
    font-size: 25px;
    text-align:center;
    padding-top: 150px;
    background-position: top;
    background-repeat: no-repeat;
    color: crimson;
}

.two:active,.ten:active{
    font-family: 'Nerko One';
    font-size: 25px;
    text-align:center;
    padding-top: 150px;
    background-image: url(img/noun_Cruise_Ship_3134824.png);
    background-size: 90%;
    background-position: top;
    background-repeat: no-repeat;
    color: cornflowerblue;
}

.three:active,.nine:active{
    font-family: 'Nerko One';
    font-size: 25px;
    text-align:center;
    padding-top: 150px;
    background-image: url(img/noun_Submarine_3134738.png);
    background-size: 90%;
    background-position: top;
    background-repeat: no-repeat;
    color: seagreen;
}

.four:active{
    font-family: 'Nerko One';
    font-size: 25px;
    text-align:center;
    padding-top: 150px;
    background-image: url(img/noun_air_balloon_3134741.png);
    background-size: 90%;
    background-position: top;
    background-repeat: no-repeat;
    color: palevioletred;
}

.five:active,.eleven:active{
    font-family: 'Nerko One';
    font-size: 25px;
    text-align:center;
    padding-top: 150px;
    background-image: url(img/noun_Tram_3134750.png);
    background-size: 90%;
    background-position: top;
    background-repeat: no-repeat;
    color: yellowgreen;
}

.seven:active,.eight:active{
    font-family: 'Nerko One';
    font-size: 25px;
    text-align:center;
    padding-top: 150px;
    background-image: url(img/noun_Tractor_3134797.png);
    background-size: 90%;
    background-position: top;
    background-repeat: no-repeat;
    color: orange;
}

footer > h3{
    font-family: 'Nerko One';
    text-align: center;
}

